body {
  padding-top: 85px;
}

section.has-text {
  margin: 2rem 3.5rem;
}

#uyu-banner {
  background-image: url('./uyu_banner.jpg');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#uyu-collage-banner {
  background-image: url('./uyu_collage.jpg');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#nl-oilking-banner {
  background-image: url('./OilKing_NL.png');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

@media screen and (min-width: 769px),
print {
  .hero.is-larger .hero-body {
    padding: 28rem 6rem;
  }
}

@media screen and (max-width: 768px) {
  .hero.is-larger .hero-body {
    padding: 6rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero.is-large .hero-body {
    padding: 4rem 1.5rem;
  }
}